.form {

  outline: 2px solid green;
}

.form__description {
  text-align: center;
  @media @tablet-widths {
    width: 500px;
    margin: 0 auto;
  }
  @media @desktop-widths {
    width: 820px;
  }

  outline: 2px solid red;
}

.form__main-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__section {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 0;
  border: none;
  @media @tablet-widths {
    width: 620px;
  }
  @media @desktop-widths {
    flex-direction: column;
  }

  outline: 2px solid yellow;
}

.form__item-name {

  outline: 2px solid red;
  min-height: 40px;
}

.form__item-name--mobile-only {
  @media @tablet-widths {
    display: none;
  }
}

.form__item-name--mobile-none {
  display: none;
  @media @tablet-widths {
    display: block;
  }
}

.form__section-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  @media @tablet-widths {
    flex-direction:row;
    &--user-contact {
      flex-direction: column;
    }
  }
}

.form__section-item--user-contact {
  @media @tablet-widths {
    position: relative;
    ::-webkit-input-placeholder {color: #ffffff;}
    ::-moz-placeholder {color: #ffffff;}  }
}

.form__item-name--align {
  width: 100%;
  text-align: center;
}

.form__item {
  width: 100%;
  @media @tablet-widths {
    width: auto;
    flex-grow: 1;
  }
}

.form__item--textarea {
  height: 100px;
}

.form__option {
  width: auto;
  margin-left: 70px;

  outline: 2px solid green;
  min-height: 40px;
}

.form__option--odd {
  order: 1;
}

.form__checkbox,
.form__radio {
  display: none;
}

.form__section--user-detail {
  order: -3;
  @media @desktop-widths {
    justify-content: space-between;
    width: 436px;
  }
}

.form__section--user-app {
  @media @tablet-widths {
    order: -2;
    flex-direction: column;
  }
  @media @desktop-widths {
    width: 433px;
  }
}

.form__section--user-contact {
  @media @tablet-widths {
    order: -1;
    padding: 20px 60px;
  }
  @media @desktop-widths {
    width: 820px;
    flex-direction: row;
    justify-content: space-between;
    .form__section-item {
      width: 375px;
    }
  }
}

.form__placeholder {
  display: none;
  @media @tablet-widths {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
}

.form__section--user-achievement {
  @media @tablet-widths {
    flex-direction: column;
  }
  @media @desktop-widths {
    position: relative;
    width: 100%;
    flex-direction: row;
    padding-top: 50px;
    flex-wrap: wrap;
    .form__item-name {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -215px;
      width: 430px;
    }
    .form__option {
      width: 230px;
    }
  }
}

.form__section--user-emotions {
  @media @desktop-widths {
    width: 820px;
    padding: 20px 60px;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media @tablet-widths {
    flex-direction: row;
    justify-content: space-between;
  }
}
